[submodule "controller2/termux-core/termux-source"]
	path = controller2/termux-core/termux-source
	url = https://github.com/termux/termux-app.git
[submodule "termux-source"]
	path = termux-source
	url = https://github.com/termux/termux-app.git
[submodule "controller2/termux-source"]
	path = controller2/termux-source
	url = https://github.com/termux/termux-app.git
