local.properties

.gradle/
build/
*/build/
app/release/

.idea/
*.iml

.externalNativeBuild/
*/.externalNativeBuild/
.cxx/
*/.cxx/

.DS_Store

# Ignore all native compiled libraries inside jniLibs directory
**/jniLibs/**/*.so
